.card-container {
  background: #fff;
  max-width: 598px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border: 1px solid #e0e1e0;
  border-radius: 8px;
}

/* grid.component.css */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Adjust the column width as needed */
  grid-gap: 10px; /* Adjust the gap between grid items */
}

.grid-item {
  padding: 10px;
  min-height: 10px;
}


.footer-date{
  text-align: right;
  margin: 20px;
}
.card-title{
  padding: 10px;
  font-size: 18px;
  font-weight: bolder;
  margin: 10px;
}

.center-text{
  margin: 0 auto;
}
.text-center-container {
  background: #fff;
  max-width: 598px;
  margin: 32px auto;
  border-radius: 8px;
}

